@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

html,
body,
#__next {
  font-family: "Red Hat Display", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scrollbar-width: thin !important;
  scrollbar-color: #444 #666 !important;
}


.font-thin {
  font-weight: 100 !important;
}
.font-extralight {
  font-weight: 200 !important;
}
.font-light {
  font-weight: 300 !important;
}
.font-normal {
  font-weight: 400 !important;
}
.font-medium {
  font-weight: 500 !important;
}
.font-semibold {
  font-weight: 600 !important;
}
.font-bold {
  font-weight: 700 !important;
}
.font-extrabold {
  font-weight: 800 !important;
}
.font-black {
  font-weight: 900 !important;
}


model-viewer {
  height: 100%;
  max-width: 100%;
}
#model-viewer-poster {
  background-color: transparent;
}